@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
#001524
#445D48
#D6CC99
#FDE5D4 */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
.menu-toggle span{
    color: #FDE5D4 ;
}

option{
    background:#001524;
    color: #FDE5D4;
}

select focus option:checked {
    background-color: #D6CC99; /* Color de fondo para la opci칩n seleccionada cuando el select est치 enfocado */
    color: white; /* Color de texto para la opci칩n seleccionada cuando el select est치 enfocado */
}